$fuente_principal : "Montserrat", sans-serif;

// COLORES
$verde:#4CB8B3;
$rosa: #F53756;
$amarillo: #fdda00;
$moradoOscuro: #53226c;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;

// MQ
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
